<div class="container modal-block">
  <div class="form-login">
    <form class="form-horizontal">
      <div class="form-group login-email">
        <div class="label">
          <label for="inputEmail3" class="control-label col-sm-2">Email:</label>
        </div>
        <div class="input-group">
          <input name="email" class="form-control col-sm-10" id="inputEmail3"
                 placeholder="Email"
                 ng-model="dataModel.email" ng-blur="validate('email')">
        </div>
      </div>
      <div class="form-group login-password">
        <div class="label">
          <label for="inputPassword3" class="control-label col-sm-2">Password:</label>
        </div>
        <div class="input-group">
          <input type="password" name="password" class="form-control col-sm-10" id="inputPassword3"
                 placeholder="Password"
                 ng-model="dataModel.password" ng-blur="validate('password')">
        </div>
      </div>
      <div class="form-group">
        <span class="failed-status" ng-show="loginFailed">用户名或密码不正确！</span>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="rememberMe"> Remember me
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="summit">
          <button class="btn btn-default" ng-click="login($event)">Sign in</button>
        </div>
      </div>
      <div class="form-group">
        <a href="#register" class="register">Register</a>
      </div>
    </form>
  </div>
</div>
