<div id="login-container">
  <form>
    <fieldset>
      <label for="user">User</label>
      <input class="form-control" id="user" type="text" name="username" ng-model="vm.username" />
      <br>
      <label for="password">Password</label>
      <input class="form-control" id="password" type="password" name="password" ng-model="vm.password" />
      <br>
      <button class="btn btn-primary" type="submit" ng-click="vm.login()">Log In</button>
      <button class="btn btn-primary" type="submit" ng-click="vm.signup()">Sign Up</button>
    </fieldset>
  </form>

  <a href="" ng-click="vm.googleLogin()">Log In with Google</a><br/>
</div>
