<div class="occupations container">
  <div class="searchBox row">
    <div class="input-group col-lg-6">
      <input type="text" class="form-control" placeholder="公司/职位/人才">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">查询</button>
      </span>
    </div>
  </div>
  <div class="criteriaBox row">
    <div class="pull-left">
      <button type="button" class="btn btn-link" ng-click="addCriteria()">+ 添加过滤条件</button>
      <button type="button" class="btn btn-link clearLink" >清除</button>
      <div class="criterias">
        <span class="criteria" ng-repeat="criteria in criterias">
            {{criteria.text}}
        </span>
      </div>
    </div>
  </div>
  <div class="sortBox row">
    <div class="pull-left">
      <div class="glyphicon glyphicon-th" aria-hidden="true"></div>
      <div class="glyphicon glyphicon-list" aria-hidden="true"></div>
    </div>
  </div>
  <div class="jobs row">
    <div class="job" ng-repeat="job in jobs">
      <div class="jobTitle"><a href="#" ng-click="checkJobDetail(job.jobId)">{{job.jobTitle}}</a></div>
      <div><a href="#" ng-click="checkJobCompany(job.companyId)">{{job.jobCompany}}</a></div>
      <div class="jobDes">{{job.jobDescriptions}}</div>
    </div>
  </div>
</div>
