<div id="login-container">
  <form>
    <fieldset>
      <label for="email">Email:</label>
      <input class="form-control" id="email" type="text" name="email" [(ngModel)]="user.email"/>
      <br>
      <label for="password">Password:</label>
      <input class="form-control" id="password" type="password" name="password" [(ngModel)]="user.password"/>
      <br>
      <button class="btn btn-primary" type="submit" (click)="onLogin()">Log In</button>
      <button class="btn btn-primary" type="submit" (click)="onSignup()">Sign Up</button>
    </fieldset>
  </form>

  <h2 style="color:red;">{{errorMsg}}</h2>

  <a href="#" (click)="onGoogleLogin()">Log In with Google</a><br/>
</div>
