<div class="lab">
    <div class="leftPanel col-xs-3">
        <div class="list-group">
            <a ui-sref=".all" class="list-group-item">All</a>
            <a ui-sref=".ec2" class="list-group-item">Elastic Computing Cloud</a>
            <a ui-sref=".cloudwatch" class="list-group-item">Cloud Watch</a>
            <a ui-sref=".vpc" class="list-group-item">Virtual Private Cloud</a>
            <a ui-sref=".all" class="list-group-item">Simple Storage Service</a>
        </div>
    </div>
    <div class="rightPanel col-xs-9">
        <div search-box></div>
        <div ui-view></div>
    </div>
</div>
